name: "github-ejs-build"
on: 
  workflow_dispatch:
    inputs:
      rt_npm_remote_repo_id:
        required: true
        type: string
        default: "yoitsmikeho-github-npm-remote"
        description: "Artifactory Repository Name"
      rt_docker_repo:
        required: true
        type: string
        default: "mikeho-github-docker-local"
        description: "Artifactory Docker repository"
      docker_image_name:
        required: true
        type: string
        default: "ejs"
        description: "Docker Image name"
      xr_enable_scan:
        required: true
        type: string
        default: "false"
        description: "Scan with Xray"
      xr_override_fail_build:
        required: true
        type: string
        default: "false"
        description: "Set to false to ignore the fail build coming from Xray (exit code 3)"
permissions:
  actions: read           # for detecting the Github Actions environment
  id-token: write         # for creating OIDC tokens for signing
  packages: write         # for uploading attestations
  contents: read          # read the contents permission
  security-events: write  # for uploading code scanning
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: ${{ github.event.inputs.rt_docker_repo }}
      IMAGE_NAME: ${{ github.event.inputs.docker_image_name }}
    # Here we install all the tools : docker buildx, QEMU, JDK 11, JFrog CLI
    steps:
      - name: Print Inputs
        run: echo "${{ toJSON(github.event.inputs) }}"
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Install Node
        uses: actions/setup-node@v4
        with:
            node-version: 18
      
      - name: Setup JFrog CLI 
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: https://${{ vars.JF_URL }}/
          JF_PROJECT: ${{ vars.JF_PROJECT }}
        with:
            oidc-provider-name: mikeho-github
            oidc-audience: mikeho-audience
            version: latest
      
      - name: NPM Audit 
        run: |
          jf --version
          jf npmc --repo-resolve ${{ github.event.inputs.rt_npm_remote_repo_id }} --repo-deploy mikeho-github-npm-local
          jf npm i --omit dev
          jf npm ci
          jf npm publish --project=${{ vars.JF_PROJECT }}
          
          if [ ${{ github.event.inputs.xr_enable_scan }} == 'true' ]; then
          	echo "Execute Xray scanning ..."
          	jf audit --npm --fail=${{ github.event.inputs.xr_override_fail_build }} --project=${{ vars.JF_PROJECT }} --secrets --iac --vuln --sast --sca
          else
          	echo "Skip Xray scanning!!!"
          fi

      - name: Docker Authenticate
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.JF_URL }}
          username: ${{ steps.setup-cli.outputs.oidc-user }}
          password: ${{ steps.setup-cli.outputs.oidc-token }}

      - name: Docker Build and Push
        uses: docker/build-push-action@v6
        id: build
        with:
          push: true
          tags: ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}
          provenance: false
      
      - name: Docker Add Package to Build
        run: |  
           echo "${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}@${{ steps.build.outputs.digest }}" > metadata.json
           jf rt build-docker-create ${{ env.DOCKER_REPO }} --image-file metadata.json --project=${{ vars.JF_PROJECT }}
           # jf docker scan ${{ vars.JF_URL }}/${{ env.DOCKER_REPO }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}
           docker image list
      
      - name: Publish Build Info
        run: |
          jf rt build-collect-env --project=${{ vars.JF_PROJECT }}
          jf rt build-add-git --project=${{ vars.JF_PROJECT }}
          jf rt build-publish --project=${{ vars.JF_PROJECT }}
      
      - name: Build Scan
        run: |            
          jf build-scan --fail=${{ github.event.inputs.xr_override_fail_build }} --project=${{ vars.JF_PROJECT }} --vuln
